@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header{
  margin-bottom: 140px;
  &__inner{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__phone{
    color: #FFFFFF;
    padding-left: 31px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 16px;
      height: 16px;
      background-image: url('../images/icons/phone.svg');
    }
    &:hover{
      text-decoration: underline;
    }
  }
}

.menu{
  display: flex;
  align-items: center;
  &__link{
    font-size: 15px;
    transform: all .3s;
    position: relative;
    &:not(:last-child){
      margin-right: 35px;
    }
    &::before{
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      background: linear-gradient(170.9deg ,#c3a882 -11.53%,#7685aa 115.55%);
      opacity: 0;
      bottom: -3px;
      left: 0;
      transition: all .3s;
    }
    &:hover{
      @extend %gradient;
      &::before{
        opacity: 1;
        width: 100%;
      }
    }
  }
}

.program{
  margin-bottom: 180px;
  &__title{
    max-width: 967px;
    margin: 0 auto 60px;
    text-align: center;
    @extend %gradient;
    font-size: 55px;
    line-height: 130%;
  }
  &__inner{
    max-width: 900px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    column-gap: 240px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 2px;
      left: -51px;
      width: 335px;
      height: 1px;
      background-color: #252F4C;
    }
  }
  &__image{
    max-width: 234px;
  }
  &__box{
    &-title{
      font-size: 25px;
      line-height: 145%;
      letter-spacing: 0.03em;
      @extend %gradient;
      font-weight: 400;
      margin-bottom: 25px;
    }
  }
  &__text{
    max-width: 378px;
    &:last-child{
      max-width: 327px;
    }
    &:not(:last-child){
      margin-bottom: 20px;
    }
  }
}

.purpose{
  margin-bottom: 150px;
  &__inner{
    max-width: 1000px;
    display: flex;
    column-gap: 130px;
    align-items: center;
    margin: 0 auto;
  }
  &__title{
      max-width: 390px;
      @extend %gradient;
      margin-bottom: 40px;
  }
  &__text{
      font-size: 25px;
      line-height: 35px;
      max-width: 390px;
  }
  &__graphics{
    display: flex;
    column-gap: 138px;
    align-items: flex-end;
    &-num{
      @extend %gradient;
      font-size: 50px;
      letter-spacing: 0.03em;
      line-height: 100%;
      margin-bottom: 3px;
    }
    &-sup{
      @extend %gradient;
      font-size: 18px;
      letter-spacing: 0.03em;
      display: block;
      margin-bottom: 20px;
    }
    &-figure{
      width: 105px;
      height: 141px;
      background: linear-gradient(0deg, #F5E6D1, #F5E6D1), #FFFFFF;
      margin-bottom: 20px;
      position: relative;
      &::after{
        content: '';
        position: absolute; 
        right: -4px;
        top: 24px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #C7794E;
      }
    }
    &-box{
      position: relative;
      &:last-child{
        &::before{
          content: '';
          position: absolute;
          z-index: 5;
          width: 3px;
          height: 283px;
          background-color: #C7794E;
          transform: rotate(60deg);
          left: -21px;
          top: 55px;
        }
        .purpose__graphics-figure{
          height: 279px;
          
        }
      }
    }
  }
}

.get{
  padding-bottom: 110px;
  &__inner{
    max-width: 870px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 150px;
    flex-wrap: wrap;
  }
  &__title{
    text-align: center;
    @extend %gradient;
    max-width: 699px;
    margin: 0 auto 57px;
  }
  &__item{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    &:first-child{
      margin-bottom: 20px;
    }
    &:nth-child(2){
      margin-bottom: 20px;
      img{
        height: 100px;
      }
    }
    &-image{
      margin-right: 30px;
      img{
        width: 70px;
        height: 70px;
        object-fit: contain;
      }
    }
    &-text{
      max-width: 260px;
      font-size: 15px;
    }
  }
}

.for{
  &__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item{
    
    &-image{
      img{
        
      }
    }
  }
}

.partners{
  &__title{
    @extend %gradient;
    text-align: center;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item{
    
    &-box{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
}







.footer{
  &__top{
    border-bottom: 1px solid #5A6379;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    background-image: url('../images/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    &-adress{
      letter-spacing: 0.03em;
      margin-bottom: 25px;
      display: block;
    }
    &-map{
      padding-bottom: 5px;
      border-bottom: 1px solid #fff;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    &-link{
      letter-spacing: 0.03em;
      display: block;
      text-align: right;
      &:not(:last-child){
        margin-bottom: 15px;
      }
    }
  }
  &__bottom{
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
    // justify-content: space-between;
    &-box{
      display: flex;
      &:last-child{
        .footer__bottom-text{
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
    &-text{
      color: #B0B0B0;
      letter-spacing: 0.03em;
      display: block;
      margin-right: 171px;
    }
  }
}


.button {
    color: #F5E6D1;
    display: block;
    font-size: 13px;
    line-height: 150%;
    padding: 20px 56px;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #fff;
    color: #010B24;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    width: max-content;
    border: none;
    transition-duration: .8s;
    text-decoration: none;
}

.button:hover {
    background: #F5E6D1;
}

.button:focus, .button:hover, .button:visited {
    outline: none;
    color: #010B24;
    text-decoration: none;
}
.form__input {
    width: 300px;
    height: 60px;
    border: 1px solid #5A6379;
    padding: 18px 20px 18px 30px;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 150%;
    font-family: "Graphik LCG", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    border-radius: 0;
}

.form__input::placeholder {
    color: #FFFFFF;
    opacity: 0.5;
    text-align: left;
}

input,
textarea,
select {
    -webkit-appearance: none;
}

.form_type_questions .form__input {
    margin-right: 20px;
}

.error-red {
    border: 1px solid #dd2a2a;
}
.ambasador-request__form {
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
    margin: 0 auto;
    justify-content: space-between;
}
.form_type_ambasador .form__input {
    margin-bottom: 30px;
}

.select2-search--dropdown {
    display: none;
}
.ambasador-request .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-top-color: white;
}

.select2-container--default .select2-selection--single {
    width: 300px;
    // border: 1px solid rgb(255 255 255 / 30%);
    padding: 30px 20px;
    box-sizing: border-box;
    background: transparent;
    outline: none;
    color: #A5A5A5;
    font-size: 16px;
    line-height: 150%;
    margin-right: 20px;
    font-style: normal;
    font-weight: normal;
    @extend %grap-400;
    border-radius: 0;
    position: relative;
}

.ambasador-request .select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    right: 15px;
    top: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #A5A5A5;
}

.select2-results {
    width: 300px;
}

.select2-results__option {
    background: white;
    color: #b0b0b0;
    padding: 15px;
    font-family: "Graphik LCG", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.ambasador-request__button {
    width: 100%;
    margin-bottom: 30px;
}
.form__input_disabled {
    opacity: .3;
    cursor: no-drop;
}


.form__select-container {
    width: 300px;
    margin-bottom: 30px;
}

  .select2-results__option[aria-selected] {
    line-height: 25px;
}


.form__error {
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #dd2a2a;
    position: absolute;
    top: -20px;
    left: 0;
}

.form__label {
    position: relative;
}

.form__input_error {
    border: 1px solid #dd2a2a;
}

.form__error_hidden {
    display: none;
}

.select2-container--default .select2-selection_error {
    border: 1px solid #dd2a2a;
}
.form__error {
    display: block;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #dd2a2a;
    position: absolute;
    top: -20px;
    left: 0;
}

.form__label {
    position: relative;
}

.form__input_error {
    border: 1px solid #dd2a2a;
}

.form__error_hidden {
    display: none;
}



.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted,
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fff;
    color: #b0b0b0;
}

.select2-container--default .select2-results__option--highlighted:hover,
    .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    color: #010b24;
}

.select2-container--open .select2-dropdown--below {
    border: none;
}

.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted,
    .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fff;
    color: #b0b0b0;
}

.select2-container--default .select2-results__option--highlighted:hover,
    .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    color: #010b24;
}

.select2-container--open .select2-dropdown--below {
    border: none;
}

.select2-search__field{
  display: none;
}
.select2-search{
  display: none !important;
}
.select2-container--default .select2-selection_error {
    border: 1px solid #dd2a2a !important;
}

.ambasador-request .select2-container--default .select2-selection--single{
  background-color: transparent; 
}

.ambasador-request .select2-container--default .select2-selection--single{
  border: 1px solid #5A6379;
}
@import 'media';